* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}
img { width: 100%; display: block; border-radius: 8px; }
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ---------- Navbar 111 ---------- */
.navbar {
  background: #fff4e7;
  padding: 20px 0;
  border-bottom: 0 solid #fff4e7;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {

  font-size: 30px;
  font-weight: 900;
  
  color: #131313;
}
.nav ul{
  list-style: none;
  display: flex;
  gap: 70px;
}
.nav a{
  text-decoration: none;
  color: #7b7874;
  font-size: 20px;
  font-weight: 500;

}
.nav a:hover {
  color: #4ac918;
 
  border-radius: 8px;
  transition: 0.30s;
  text     

} 

/* ---------- Hero 22222---------- */
.hero{
  text-align: center;
  padding: 70px 0;
 background: #fff4e7;
}
.hero h1 {
  font-size: 40px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 10px;
}
.lead {
  color: #c1bbb4;
  margin-bottom: 20px;
  max-width: 650px;
  margin: auto;

}
.btn {
  height: 60px;
  width: 180px;
  font-size: 20px;
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
  transition: 0.3s;
}
.btn.primary {

  background: #ff900e;
  color: #fff;
  box-shadow: 0 4px 12px rgba(243,139,28,0.4);
}
.btn.primary:hover {
  background: #d97706;
}
.hero-image img {
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* ---------- Features Grid 33333---------- */
.features {
  padding: 60px 0;
}
.features-grid {
  display: flex;
  gap: 45px;
  align-items: center;
}
.grid-images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.features-text h2 {
  font-size: 32px;
  text-align:left;
  
}


.accent { 
  color: #f38b1c;
  text-align:left;
 }
.features-text p { margin-bottom: 18px;
   color:#666; 
   text-align:left;
   line-height: 1.5;
  max-width: 450px;
  
}



.features-btn{
    height: 60px;
    width: 180px;
    font-size: 20px;
    color: #fff;
    background: #ff900e;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: 600;
     padding: 12px 25px;
}

.features-btn{
  position: relative !important;
  left: 0 !important;
  margin: 15px 0 0 0 !important;
  display: block !important;
}


.feature-left,
.feature-left *{
  justify-content: flex-start !important;
  place-items: start !important;
  text-align: left !important;
}

.features-btn:hover{
  background:#d97706 ;

  
}


/* ---------- Big Feature Section444444 ---------- */



.big-feature{
  padding: 80px 0;
  background:#fff;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* left + right layout */ 
.feature-wrap{
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 70px;
}


.feature-left h2{
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}


.feature-left h2::before{
  content: "";
  position: absolute;
  left: -15px;
  top: 10px;
  width: 8px;
  height: 100px;
  background: orange;
}

.feature-left .muted{
  color: #666;
  text-align: left;
  line-height: 1.7;
  margin-bottom: 35px;
  max-width: 500px;
}


.feature-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.feature-list > div{
  background: #fff;
  padding: 22px 24px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  animation: floatBox 3s ease-in-out infinite;
}



.feature-list h3{
    text-align: left;
    font-weight: bold;
    
}

.feature-list p{
  color: #666;
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
}



.feature-image{
  position: relative;
}

.feature-image img{
  width: 100%;
  border-radius: 15px;
}
.badge{
    width: 80px;
    height: 90px;
}

.badge{
  position: absolute;
  bottom: -40px;
  left: -40px;
  background: orange;
  color: #fff;
  padding: 25px 30px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  animation: floatBadge 2.5s ease-in-out infinite;
}

.badge span{
  font-size: 16px;
  font-weight: normal;
}






/* ---------- Facts Section 5555---------- */
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.title{
     font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
  
    
}

.subtitle{
    color: #666;
    width: 60%;
    font-size: 14px;
    max-width: 450px;
    text-align: left;
    max-width: 450px;
    padding-bottom: 40px;
}

.facts-box{
    display: flex;
    
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap:wrap;
}

.fact-item{
    width: 22%;
    min-width: 200px;
    border: 1.5px solid #f2c79b;
    border-radius: 6px;
    padding: 25px 10px;
    

    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.fact-item img{
    width: 45px;
    margin-bottom: 10px;
    
}

.fact-item h3{
    font-size: 28px;
    
    margin-bottom: 5px;
}

.fact-item p{
    
    color: #555;
    font-size: 14px;
}

/* Sponsor Section 6666666666666 */
.sponsor-section{
    margin-top: 60px;
    padding-bottom: 40px;
    
}
.title-one{
    font-size: 40px;
    font-weight: 600;
     color: #000;

}

.subtitle-one{
  text-align: center;
  max-width:400px;
  margin: auto;
  margin-bottom: 30px;
}

.sponsor-logos{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    gap: 140px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.sponsor-logos img{
    width: 100px;
    
   
}



/* Footer 777777777777*/
.footer{
    background: #fff4e7;
    padding: 12px;
    border-radius: 5px;
}


.footerSection{
    padding: 40px 0;
    background-color: #fff4e7;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 200px;
}
.footerSection .flex{
    justify-content: center;
}
.footerSection p{
    color: #424242;
    font-size: 20px;
}

/* ===============================
   RESPONSIVE FIX (FINAL)
================================ */

/* Tablet & Mobile */
@media (max-width: 992px) {

  /* NAVBAR */
  .navbar .container{
    flex-direction: column;
    gap: 20px;
  }

  .nav ul{
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  /* HERO */
  .hero h1{
    font-size: 28px;
  }

  .lead{
    max-width: 100%;
    padding: 0 10px;
    font-size: 14px;
  }

  /* FEATURES GRID */
  .features-grid{
    flex-direction: column;
  }

  .grid-images{
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .features-text,
  .features-text *{
    text-align: center;
  }

  .features-btn{
    margin: 20px auto 0 auto !important;
  }

  /* BIG FEATURE */
  .feature-wrap{
    grid-template-columns: 1fr;
  }

  .feature-left h2{
    font-size: 30px;
  }

  .feature-left h2::before{
    display: none;
  }

  .feature-image{
    order: -1;
  }

  .badge{
    position: static;
    margin-top: 20px;
  }

  /* FACTS */
  .facts-box{
    flex-direction: column;
    align-items: center;
  }

  .fact-item{
    width: 90%;
  }

  /* SPONSOR */
  .sponsor-logos{
    gap: 40px;
  }

  /* FOOTER */
  .footerSection{
    width: 95%;
  }

  .footerSection p{
    font-size: 16px;
    text-align: center;
  }
}


/* Small Mobile */
@media (max-width: 576px){

  .logo{
    font-size: 24px;
  }

  .hero h1{
    font-size: 24px;
  }

  .grid-images{
    grid-template-columns: 1fr;
  }

  .btn,
  .features-btn{
    width: 150px;
    height: 48px;
    font-size: 15px;
  }
}
/* ===== BADGE MOBILE NICE FIX ===== */
@media (max-width:768px){

  .feature-image{
    position: relative;
  }

  .badge{
    bottom: 20px;
    left: 20px;
    padding: 18px 22px;
    font-size: 18px;
    border-radius: 10px;
  }

  .badge span{
    font-size: 14px;
  }
}