

h1{
    color: #3B3B98;
}





table{
    border-collapse: collapse;
    width: 700px;
    height: 450px;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
}

td{
    background:#7bed9f ;
}
    
th{
    background:#2f3542 ;
    color: #fff;
    
}
.one {
    background: #fff;
    color: blue;
}
.two{
    background: #110c0a;
    color:#f0e1c5;
}
.three{
    background:#3B3B98;
    font-style: italic;
}
.of{
    font-style: oblique;
    color: #182C61;
    background: #f0e1c5;
}
p{
    background: #9AECDB;
    
    text-align: center;
}
h3{
     color: #08cc46;
}
img{
     margin-top: 20px;
     margin-left: 25px;

}
.how{
    text-align: center;
    background: #08cc46;
    border-radius: 5px;

}